.el-main{
    padding-top: 10px;
}
.el-main .row1 {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.el-main .searchItem{
    margin-top: 10px;
}
.el-main .row1 .el-input-group {
    width: auto;
    margin-right: 10px;
}

.el-main .row1 .el-input {
    width: 120px;
    margin-right: 10px;
}