html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: SketchRockwell; /*这里是说明调用来的字体名字*/
    src: url('fonts/element-icons.woff'); /*这里是字体文件路径*/
}

/*.el-main{*/
/*display: -webkit-flex; !* Safari *!*/
/*display: flex;*/
/*flex-direction: row ;*/
/*flex-wrap: nowrap;*/
/*-ms-flex-wrap: nowrap;*/
/*-webkit-flex-wrap: nowrap;*/
/*justify-content: space-between;*/
/*-webkit-justify-content: space-between;*/
/*align-items: flex-start;*/
/*-webkit-align-items: flex-start;*/
/*align-content:center;*/
/*}*/
.el-main .row1 .el-input-group {
    width: auto;
    margin-right: 10px;
}

.el-main .row1 .el-input {
    width: 120px;
    margin-right: 10px;
}

/*.el-main .el-select .el-input {*/
/*width: 120px;*/
/*}*/
.el-main .row2 .el-input {
    margin-right: 10px;
}

.el-main .el-select .el-input--suffix {
    width: 100px;
}

.el-main .title {
    font-size: 14px;
}

.el-main .row2, .el-main .row3 {
    margin-top: 15px;
}

.el-main .row2 .el-pagination {
    display: inline-block;
    margin-left: 20px;
}

.el-table th.is-leaf {
    background: #f5f7fa;
}

.el-dialog .el-dialog__body .el-form .el-upload__tip {
    margin-left: 10px;
}

.el-main .el-pagination {
    margin-top: 15px;
    text-align: center;
}