
.el-main .row1 .el-input-group {
    width: auto;
    margin-right: 10px;
}

.el-main .row1 .el-input {
    width: 120px;
    margin-right: 10px;
}

/*.el-main .el-select .el-input {*/
/*width: 120px;*/
/*}*/

.el-main .el-select .el-input--suffix {
    width: 100px;
}

.el-main .row3 {
    margin-top: 15px;
}

.el-table th.is-leaf {
    background: #f5f7fa;
}

.el-dialog .el-dialog__body .el-form .el-upload__tip {
    margin-left: 10px;
}
