<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>case监控台</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/caseMonitor.css">
</head>
<body>
<div id="caseMonitor">
    <el-container v-loading.fullscreen.lock="loading">
        <el-main>
            <div class="row1">
                <div class="searchItem">
                    <span class="title">业务类型：</span>
                    <template>
                        <el-select v-model="businessCategorySelected" placeholder="请选择" size="mini">
                            <el-option
                                    v-for="item in businessCategoryArray"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </template>
                </div>
                <div class="searchItem">
                    <span class="title">case级别：</span>
                    <el-select v-model="caseLevelSelected" placeholder="请选择" size="mini">
                        <el-option
                                v-for="item in caseLevelArray"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div class="searchItem">
                    <span class="title">case状态：</span>
                    <template>
                        <el-select v-model="caseStatuSelected" placeholder="请选择" size="mini">
                            <el-option
                                    v-for="item in caseStatuArray"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </template>
                </div>
                <div class="searchItem">
                    <span class="title">是否督办：</span>
                    <template>
                        <el-select v-model="superviseSelected" placeholder="请选择" size="mini">
                            <el-option
                                    v-for="item in superviseArray"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </template>
                </div>
                <div class="searchItem">
                    <span class="title">是否重点：</span>
                    <template>
                        <el-select v-model="importantSelected" placeholder="请选择" size="mini">
                            <el-option
                                    v-for="item in importantArray"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </template>
                </div>
                <div class="searchItem">
                    <span class="title">处理来源：</span>
                    <template>
                        <el-select v-model="processeSourceSelected" placeholder="请选择" size="mini">
                            <el-option
                                    v-for="item in processeSourceArray"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </template>
                </div>


                <!--<span class="title">厂商名称：</span>-->
                <!--<template>-->
                <!--<el-input placeholder="请输厂商名称" v-model="shop_name" size="mini">-->
                <!--</el-input>-->
                <!--</template>-->
                <!--<span class="title">联系人：</span>-->
                <!--<template>-->
                <!--<el-input placeholder="请输联系人" v-model="contacts" size="mini">-->
                <!--</el-input>-->
                <!--</template>-->

            </div>
            <el-pagination
                    background
                    @current-change="handleCurrentChange"
                    :page-size="paginationPageSize"
                    layout="total, prev, pager, next, jumper"
                    :total="paginationTotal">
            </el-pagination>
        </el-main>
    </el-container>
</div>
<script src="../js/vue.js"></script>
<script src="../js/index.js"></script>
<script src="../js/axios.min.js"></script>
<script>
    new Vue({
        el: '#caseMonitor',
        data: function () {
            return {
                paginationTotal: 500,//总条数
                paginationPageSize: 20,//每一页显示的数量
                loading: false,// 加载框
                putIn: false,//“放入操作台”的按钮是否显示
                businessCategorySelected: '',//选择的业务类型
                businessCategoryArray: [{ //业务类型选项
                    value: '1294',
                    label: '空调'
                }, {
                    value: '1562',
                    label: '冰洗'
                }, {
                    value: '2226',
                    label: '彩电'
                }, {
                    value: '4209',
                    label: 'C端业务'
                }, {
                    value: '2956',
                    label: '其他业务'
                }],
                caseLevelSelected: '',//选择的case级别
                caseLevelArray: [{ //case级别选项
                    value: '403',
                    label: '普通单'
                }, {
                    value: '404',
                    label: '1级CASE单'
                }, {
                    value: '405',
                    label: '2级CASE单'
                }, {
                    value: '406',
                    label: '3级CASE单'
                }, {
                    value: '407',
                    label: '4级CASE单'
                }, {
                    value: '408',
                    label: '5级CASE单'
                }],
                caseStatuSelected: '',//选择的case状态
                caseStatuArray: [{ //case级别状态
                    value: 'SS_1100',
                    label: '受理中'
                }, {
                    value: 'SS_1400',
                    label: '待处理'
                }, {
                    value: 'SS_1600',
                    label: '待回拨'
                }, {
                    value: 'SS_4100',
                    label: '待派工'
                }, {
                    value: 'SS_4400',
                    label: '待抢单'
                }, {
                    value: 'SS_4700',
                    label: '待回单'
                }, {
                    value: 'SS_6100',
                    label: '待回访'
                }, {
                    value: 'SS_6400',
                    label: '回访中'
                }, {
                    value: 'SS_9100',
                    label: '结束'
                }, {
                    value: 'SS_CLOSEVISIT',
                    label: '结束回访任务'
                }, {
                    value: 'SS_REMIND',
                    label: '提醒'
                }, {
                    value: 'SS_1100,SS_1400,SS_1600,SS_4100,SS_4400,SS_4700,SS_REMIND',
                    label: '未关闭'
                }],
                superviseSelected: '',//选择的是否督办
                superviseArray: [{ //是否督办选项
                    value: '0',
                    label: '否'
                }, {
                    value: '1',
                    label: '是'
                }],
                importantSelected: '',//选择的是否重点
                importantArray: [{ //是否重点选项
                    value: '0',
                    label: '否'
                }, {
                    value: '1',
                    label: '是'
                }],
                processeSourceSelected: '',//选择的处理来源
                processeSourceArray: [{ //处理来源选项
                    value: 'SS_1101',
                    label: '入库失败'
                }, {
                    value: 'SS_1102',
                    label: '工作流启动失败'
                }, {
                    value: 'SS_1103',
                    label: '自动流转失败'
                }, {
                    value: 'SS_1401',
                    label: '重新处理'
                }, {
                    value: 'SS_1407',
                    label: '退case单'
                }, {
                    value: 'SS_1409',
                    label: '初次受理'
                }, {
                    value: 'SS_1601',
                    label: '受理'
                }, {
                    value: 'SS_1604',
                    label: 'IVR'
                }, {
                    value: 'SS_4101',
                    label: '自动流转'
                }, {
                    value: 'SS_4102',
                    label: '自动流转2'
                }, {
                    value: 'SS_4104',
                    label: '分发'
                }, {
                    value: 'SS_4107',
                    label: '退工单'
                }, {
                    value: 'SS_4110',
                    label: '取消工单'
                }, {
                    value: 'SS_4113',
                    label: '回单需转派'
                }, {
                    value: 'SS_4114',
                    label: '抢单池转入'
                }],
            }

        },
        methods: {
            // 分页点击执行
            handleCurrentChange(val) {
                // 页数改变，需要改变查询
                // console.log(`当前页: ${val}`);
                this.tableData = [];//先清空表格数据
                // 请求参数
                var params = {
                    pageSize: val// 改变页码
                };
                this.request('/verify/code', params, '查询失败', function (callback) {
                });
            },
        }
    })
</script>
</body>
</html>