<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>厂商管理</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/shop.css">
</head>
<body>
<div id="shop">
    <el-container v-loading.fullscreen.lock="loading">
        <el-main>
            <div class="row1">
                <div class="searchItem">
                    <span class="title">厂商编码：</span>
                    <template>
                        <el-input placeholder="请输厂商编码" v-model="shop_no" size="mini">
                        </el-input>
                    </template>
                </div>
                <div class="searchItem">
                    <span class="title">厂商名称：</span>
                    <template>
                        <el-input placeholder="请输厂商名称" v-model="shop_name" size="mini">
                        </el-input>
                    </template>
                </div>
                <div class="searchItem">
                    <span class="title">联系人：</span>
                    <template>
                        <el-input placeholder="请输联系人" v-model="contacts" size="mini">
                        </el-input>
                    </template>
                </div>
                <div class="searchItem">
                    <span class="title">厂商状态：</span>
                    <template>
                        <el-select v-model="shopStatus" placeholder="请选择" size="mini">
                            <el-option
                                    v-for="item in shopStatusOptions"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </template>
                </div>
                <div class="searchItem">
                    <span class="title">审核状态：</span>
                    <template>
                        <el-select v-model="checkStatus" placeholder="请选择" size="mini">
                            <el-option
                                    v-for="item in checkStatusOptions"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </template>
                </div>
                <div class="searchItem">
                    <el-button type="primary" size="mini" icon="el-icon-search" @click="search()">搜索</el-button>
                    <el-button type="primary" plain size="mini" icon="el-icon-plus" @click="createShopDialogVisible = true">新建厂商</el-button>
                    <!--<el-button type="primary" plain size="mini" v-if="putIn" @click="putInConsole()">放入操作台<i-->
                    <!--class="el-icon-caret-right el-icon&#45;&#45;right"></i></el-button>-->
                    <!--<el-badge :value="0" class="item">-->
                    <!--<el-button type="primary" plain size="mini" icon="el-icon-edit-outline">操作台</el-button>-->
                    <!--</el-badge>-->
                </div>
            </div>
            <div class="row3">
                <template>
                    <el-table
                            ref="multipleTable"
                            :data="tableData"
                            border
                            stripe
                            style="width: 100%"
                            @selection-change="handleSelectionChange">
                        <el-table-column
                                type="selection"
                                width="35">
                        </el-table-column>
                        <el-table-column
                                fixed="left"
                                label="操作"
                                width="220">
                            <template slot-scope="scope">
                                <el-button @click="shopEditeClick(scope.row)" type="text" size="small" v-if="scope.row"
                                           v-text="scope.row.col16"></el-button>
                                <el-button @click="shopExamineClick(scope.row)" type="text" size="small"
                                           v-if="scope.row" v-text="scope.row.col17"></el-button>
                                <el-button @click="tableEdite(scope.row)" type="text" size="small" v-if="scope.row"
                                           v-text="scope.row.col18"></el-button>
                                <el-button @click="placeAnOrder(scope.row)" type="text" size="small" v-if="scope.row"
                                           v-text="scope.row.col19"></el-button>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="col1"
                                label="厂商编码"
                                show-overflow-tooltip
                                width="110">
                        </el-table-column>
                        <el-table-column
                                prop="col2"
                                label="厂商ID"
                                show-overflow-tooltip
                                width="100">
                        </el-table-column>
                        <el-table-column
                                prop="col3"
                                label="厂商名称"
                                width="250">
                        </el-table-column>
                        <el-table-column
                                prop="col4"
                                label="厂商类别"
                                show-overflow-tooltip
                                width="80">
                        </el-table-column>
                        <el-table-column
                                prop="col5"
                                label="厂商性质"
                                show-overflow-tooltip
                                width="80">
                        </el-table-column>
                        <el-table-column
                                prop="col6"
                                label="联系人"
                                show-overflow-tooltip
                                width="80">
                        </el-table-column>
                        <el-table-column
                                prop="col7"
                                label="联系电话"
                                show-overflow-tooltip
                                width="120">
                        </el-table-column>
                        <el-table-column
                                prop="col8"
                                label="地址"
                                show-overflow-tooltip
                                width="250">
                        </el-table-column>
                        <el-table-column
                                prop="col9"
                                label="备注"
                                show-overflow-tooltip
                                width="250">
                        </el-table-column>
                        <el-table-column
                                label="合同"
                                width="50">
                            <template slot-scope="scope">
                                <el-button @click="downLoadContractClick(scope.row)" type="text" size="small">下载</el-button>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="col10"
                                label="合同开始时间"
                                show-overflow-tooltip
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="col11"
                                label="合同结束时间"
                                show-overflow-tooltip
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="col12"
                                label="合同状态"
                                show-overflow-tooltip
                                width="80">
                        </el-table-column>
                        <el-table-column
                                prop="col13"
                                label="品牌"
                                show-overflow-tooltip
                                width="150">
                        </el-table-column>
                        <el-table-column
                                prop="col14"
                                label="厂商状态"
                                show-overflow-tooltip
                                width="80">
                        </el-table-column>
                        <el-table-column
                                prop="col15"
                                label="审核状态"
                                show-overflow-tooltip
                                width="80">
                        </el-table-column>
                    </el-table>
                </template>
            </div>
            <el-pagination
                    background
                    @size-change="handleSizeChange"
                    :current-page="currentPage"
                    @current-change="handleCurrentChange"
                    :page-sizes="[20, 50, 100, 200]"
                    :page-size="paginationPageSize"
                    layout="total,sizes, prev, pager, next, jumper"
                    :total="paginationTotal">
            </el-pagination>
        </el-main>
    </el-container>
    <el-dialog title="审核" :visible.sync="dialogFormVisible">
        <el-form :model="form" :rules="examineShopDialogRules" ref="form">
            <el-form-item label="厂商名称" :label-width="formLabelWidth">
                <span v-if="examineShopObject" v-text="examineShopObject.col3"></span>
            </el-form-item>
            <el-form-item label="审核操作" :label-width="formLabelWidth">
                <template>
                    <el-radio-group v-model="examineRadio">
                        <el-radio :label="0">通过</el-radio>
                        <el-radio :label="1">驳回</el-radio>
                    </el-radio-group>
                </template>
            </el-form-item>
            <el-form-item label="驳回原因" :label-width="formLabelWidth" v-if="examineRadio==1" prop="desc">
                <el-input v-model="form.desc" auto-complete="off" placeholder="请输入驳回原因"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="examine('form',examineShopObject.col2)">确 定</el-button>
        </div>
    </el-dialog>
    <el-dialog title="编辑" class="editeShopDialog" :fullscreen="true" :visible.sync="editeShopDialogVisible" :close-on-click-modal="false">
        <el-form :model="editeShopForm" :rules="editeShopDialogRules" ref="editeShopForm">
            <el-form-item label="厂商编码" :label-width="formLabelWidth" prop="col1">
                <el-input v-model="editeShopForm.col1" auto-complete="off" placeholder="请输入厂商编码"></el-input>
            </el-form-item>
            <el-form-item label="厂商名称" :label-width="formLabelWidth" prop="col3">
                <el-input v-model="editeShopForm.col3" auto-complete="off" placeholder="请输入厂商名称"></el-input>
            </el-form-item>
            <el-form-item label="厂商类别" :label-width="formLabelWidth" prop="col4">
                <el-select v-model="editeShopForm.col4" placeholder="请选择厂商类别">
                    <el-option label="生产类" value="production"></el-option>
                    <el-option label="平台类" value="platform"></el-option>
                    <el-option label="经营商类" value="distributor"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="厂商性质" :label-width="formLabelWidth" prop="col5">
                <el-select v-model="editeShopForm.col5" placeholder="请选择厂商性质">
                    <el-option label="非TCL系" value="0"></el-option>
                    <el-option label="TCL系" value="1"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="联系人" :label-width="formLabelWidth" prop="col6">
                <el-input v-model="editeShopForm.col6" auto-complete="off" placeholder="请输入联系人"></el-input>
            </el-form-item>
            <el-form-item label="联系电话" :label-width="formLabelWidth" prop="col7">
                <el-input v-model="editeShopForm.col7" auto-complete="off" placeholder="请输入联系电话"></el-input>
            </el-form-item>
            <el-form-item label="住址" :label-width="formLabelWidth" prop="col8">
                <el-input v-model="editeShopForm.col8" auto-complete="off" placeholder="请输入住址"></el-input>
            </el-form-item>
            <el-form-item label="备注" :label-width="formLabelWidth" prop="col9">
                <el-input v-model="editeShopForm.col9" auto-complete="off" placeholder="请输入备注"></el-input>
            </el-form-item>
            <el-form-item label="合同上传" :label-width="formLabelWidth" prop="fileList">
                <el-upload
                        class="upload-demo"
                        action="https://jsonplaceholder.typicode.com/posts/"
                        :on-preview="handlePreview"
                        :on-remove="handleRemove"
                        :before-upload="beforeUpload"
                        :on-success="uploadSuccess"
                        :on-error="uploadError"
                        multiple
                        :limit="1"
                        :on-exceed="handleExceed"
                        accept="image/*"
                        list-type="picture"
                        :file-list="editeShopForm.fileList">
                    <el-button size="small" type="primary">点击上传</el-button>
                    <span slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过2MB</span>
                </el-upload>
            </el-form-item>
            <el-form-item label="合同有效期" :label-width="formLabelWidth" prop="contractValidityValue">
                <el-date-picker
                        v-model="editeShopForm.contractValidityValue"
                        type="datetimerange"
                        range-separator="至"
                        end-placeholder="结束日期"
                        start-placeholder="开始日期"
                        align="">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="合同状态" :label-width="formLabelWidth" prop="col12">
                <el-select v-model="editeShopForm.col12" placeholder="请选择合同状态">
                    <el-option label="未生效" value="0"></el-option>
                    <el-option label="已生效" value="1"></el-option>
                    <el-option label="已失效" value="2"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="厂商状态" :label-width="formLabelWidth" prop="col14">
                <el-select v-model="editeShopForm.col14" placeholder="请选择厂商状态">
                    <el-option label="停用" value="0"></el-option>
                    <el-option label="启用" value="1"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="品牌" :label-width="formLabelWidth" prop="col13">
                <template>
                    <el-checkbox-group v-model="editeShopForm.col13">
                        <el-checkbox v-for="brand in editeShopForm.col13Options" :label="brand" :key="brand" name="brand"></el-checkbox>
                    </el-checkbox-group>
                </template>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="editeShopDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="editeShop('editeShopForm')">更 新</el-button>
        </div>
    </el-dialog>
    <el-dialog title="新建厂商" class="creatNewShopDialog" :fullscreen="true" :visible.sync="createShopDialogVisible" :close-on-click-modal="false">
        <el-form :model="createShopForm" :rules="editeShopDialogRules" ref="createShopForm">
            <el-form-item label="厂商编码" :label-width="formLabelWidth" prop="col1">
                <el-input v-model="createShopForm.col1" auto-complete="off" placeholder="请输入厂商编码"></el-input>
            </el-form-item>
            <el-form-item label="厂商名称" :label-width="formLabelWidth" prop="col3">
                <el-input v-model="createShopForm.col3" auto-complete="off" placeholder="请输入厂商名称"></el-input>
            </el-form-item>
            <el-form-item label="厂商类别" :label-width="formLabelWidth" prop="col4">
                <el-select v-model="createShopForm.col4" placeholder="请选择厂商类别">
                    <el-option label="生产类" value="production"></el-option>
                    <el-option label="平台类" value="platform"></el-option>
                    <el-option label="经营商类" value="distributor"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="厂商性质" :label-width="formLabelWidth" prop="col5">
                <el-select v-model="createShopForm.col5" placeholder="请选择厂商性质">
                    <el-option label="非TCL系" value="0"></el-option>
                    <el-option label="TCL系" value="1"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="联系人" :label-width="formLabelWidth" prop="col6">
                <el-input v-model="createShopForm.col6" auto-complete="off" placeholder="请输入联系人"></el-input>
            </el-form-item>
            <el-form-item label="联系电话" :label-width="formLabelWidth" prop="col7">
                <el-input v-model="createShopForm.col7" auto-complete="off" placeholder="请输入联系电话"></el-input>
            </el-form-item>
            <el-form-item label="住址" :label-width="formLabelWidth" prop="col8">
                <el-input v-model="createShopForm.col8" auto-complete="off" placeholder="请输入住址"></el-input>
            </el-form-item>
            <el-form-item label="备注" :label-width="formLabelWidth" prop="col9">
                <el-input v-model="createShopForm.col9" auto-complete="off" placeholder="请输入备注"></el-input>
            </el-form-item>
            <el-form-item label="合同上传" :label-width="formLabelWidth" prop="fileList">
                <el-upload
                        class="upload-demo"
                        action="https://jsonplaceholder.typicode.com/posts/"
                        :on-preview="handlePreview"
                        :on-remove="handleRemove"
                        :before-upload="beforeUpload"
                        :on-success="uploadSuccess"
                        :on-error="uploadError"
                        multiple
                        :limit="1"
                        :on-exceed="handleExceed"
                        accept="image/*"
                        list-type="picture"
                        :file-list="createShopForm.fileList">
                    <el-button size="small" type="primary">点击上传</el-button>
                    <span slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过2MB</span>
                </el-upload>
            </el-form-item>
            <el-form-item label="合同有效期" :label-width="formLabelWidth" prop="contractValidityValue">
                <el-date-picker
                        v-model="createShopForm.contractValidityValue"
                        type="datetimerange"
                        range-separator="至"
                        end-placeholder="结束日期"
                        start-placeholder="开始日期"
                        align="">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="合同状态" :label-width="formLabelWidth" prop="col12">
                <el-select v-model="createShopForm.col12" placeholder="请选择合同状态">
                    <el-option label="未生效" value="0"></el-option>
                    <el-option label="已生效" value="1"></el-option>
                    <el-option label="已失效" value="2"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="厂商状态" :label-width="formLabelWidth" prop="col14">
                <el-select v-model="createShopForm.col14" placeholder="请选择厂商状态">
                    <el-option label="停用" value="0"></el-option>
                    <el-option label="启用" value="1"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="品牌" :label-width="formLabelWidth" prop="col13">
                <template>
                    <el-checkbox-group v-model="createShopForm.col13">
                        <el-checkbox v-for="brand in createShopForm.col13Options" :label="brand" :key="brand" name="brand"></el-checkbox>
                    </el-checkbox-group>
                </template>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="createShopDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="createShop('createShopForm')">新 建</el-button>
        </div>
    </el-dialog>
</div>
</body>
<script src="../js/vue.js"></script>
<script src="../js/index.js"></script>
<script src="../js/axios.min.js"></script>
<script src="../js/shopVue.js"></script>

</html>