<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>工单监控台</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/workMonitor.css">
</head>
<body>
<div id="workMonitor">
    <el-container v-loading.fullscreen.lock="loading">
        <el-main>
            <div class="row1">
                <div class="searchItem">
                    <span class="title">业务类型：</span>
                    <template>
                        <el-select v-model="searchForm.businessCategorySelected" placeholder="请选择" size="mini" class="searchSelectInput">
                            <el-option
                                    v-for="item in searchForm.businessCategoryArray"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </template>
                </div>
                <div class="searchItem">
                    <span class="title">工单状态：</span>
                    <template>
                        <el-select v-model="searchForm.workStatuSelected" placeholder="请选择" size="mini" class="searchSelectInput">
                            <el-option
                                    v-for="item in searchForm.workStatuArray"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </template>
                </div>
                <div class="searchItem">
                    <span class="title">办事处：</span>
                    <el-input placeholder="请输入办事处" v-model="searchForm.officeSearch" size="mini" class="searchInput">
                    </el-input>
                </div>
                <div class="searchItem">
                    <span class="title">客户电话：</span>
                    <el-input placeholder="请输客户电话" v-model="searchForm.customerPhoneNoSearch" size="mini" class="searchInput">
                    </el-input>
                </div>
                <div class="searchItem">
                    <span class="title">case单号：</span>
                    <el-input placeholder="请输入case单号" v-model="searchForm.caseNoSearch" size="mini" class="searchInput">
                    </el-input>
                </div>
                <div class="searchItem">
                    <span class="title">新工单号：</span>
                    <el-input placeholder="请输入新工单号" v-model="searchForm.newWorkNoSearch" size="mini" class="searchInput">
                    </el-input>
                </div>
                <div class="searchItem" v-if="searchForm.showMoreCondition">
                    <span class="title">厂商名称：</span>
                    <el-input placeholder="请输入厂商名称" v-model="searchForm.newWorkNoSearch" size="mini" class="searchInput">
                    </el-input>
                </div>
                <div class="searchItem" v-if="searchForm.showMoreCondition">
                    <span class="title">品牌：</span>
                    <el-input placeholder="请输入品牌" v-model="searchForm.newWorkNoSearch" size="mini" class="searchInput">
                    </el-input>
                </div>
                <div class="searchItem" v-if="searchForm.showMoreCondition">
                    <span class="title">产品大类：</span>
                    <el-input placeholder="请输入产品大类" v-model="searchForm.newWorkNoSearch" size="mini" class="searchInput">
                    </el-input>
                </div>
                <div class="searchItem" v-if="searchForm.showMoreCondition">
                    <span class="title">产品小类：</span>
                    <el-input placeholder="请输入产品小类" v-model="searchForm.newWorkNoSearch" size="mini" class="searchInput">
                    </el-input>
                </div>
                <div class="searchItem" v-if="searchForm.showMoreCondition">
                    <span class="title">需求大类：</span>
                    <el-input placeholder="请输入需求大类" v-model="searchForm.newWorkNoSearch" size="mini" class="searchInput">
                    </el-input>
                </div>
                <div class="searchItem" v-if="searchForm.showMoreCondition">
                    <span class="title">原始单号：</span>
                    <el-input placeholder="请输入原始单号" v-model="searchForm.originalNoSearch" size="mini" class="searchInput">
                    </el-input>
                </div>
                <div class="searchItem" v-if="searchForm.showMoreCondition">
                    <span class="title">所属工程师：</span>
                    <el-input placeholder="请输入所属工程师" v-model="searchForm.originalNoSearch" size="mini" class="searchInput">
                    </el-input>
                </div>
                <div class="searchItem" v-if="searchForm.showMoreCondition">
                    <span class="title">回单来源：</span>
                    <el-input placeholder="请输入回单来源" v-model="searchForm.originalNoSearch" size="mini" class="searchInput">
                    </el-input>
                </div>
                <div class="searchItem" v-if="searchForm.showMoreCondition">
                    <span class="title">case级别：</span>
                    <el-select v-model="searchForm.caseLevelSelected" placeholder="请选择" size="mini" class="searchSelectInput">
                        <el-option
                                v-for="item in searchForm.caseLevelArray"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div class="searchItem" v-if="searchForm.showMoreCondition">
                    <span class="title">单据类型：</span>
                    <template>
                        <el-select v-model="searchForm.orderSourceSearch" placeholder="请选择" size="mini" class="searchSelectInput">
                            <el-option
                                    v-for="item in searchForm.processeSourceArray"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </template>
                </div>
                <div class="searchItem" v-if="searchForm.showMoreCondition">
                    <span class="title">订单来源：</span>
                    <template>
                        <el-select v-model="searchForm.orderSourceSearch" placeholder="请选择" size="mini" class="searchSelectInput">
                            <el-option
                                    v-for="item in searchForm.processeSourceArray"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </template>
                </div>
                <div class="searchItem" v-if="searchForm.showMoreCondition">
                    <span class="title">处理来源：</span>
                    <template>
                        <el-select v-model="searchForm.processeSourceSelected" placeholder="请选择" size="mini" class="searchSelectInput">
                            <el-option
                                    v-for="item in searchForm.processeSourceArray"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </template>
                </div>
                <div class="searchItem" v-if="searchForm.showMoreCondition">
                    <span class="title">所属门店：</span>
                    <el-input placeholder="请输入内容" v-model="searchForm.shopSearch" class="input-with-select" size="mini">
                        <el-select v-model="searchForm.selectVendor" slot="prepend" placeholder="请选择">
                            <el-option label="餐厅名" value="1"></el-option>
                            <el-option label="订单号" value="2"></el-option>
                            <el-option label="用户电话" value="3"></el-option>
                        </el-select>
                    </el-input>
                </div>
                <div class="searchItem" v-if="searchForm.showMoreCondition">
                    <span class="title">派工时间：</span>
                    <el-date-picker
                            v-model="searchForm.searchWorkingTime"
                            type="datetimerange"
                            range-separator="至"
                            end-placeholder="结束日期"
                            start-placeholder="开始日期"
                            align=""
                            size="mini">
                    </el-date-picker>
                </div>
                <div class="searchItem" v-if="searchForm.showMoreCondition">
                    <span class="title">预约时间：</span>
                    <el-date-picker
                            v-model="searchForm.searchWorkingTime"
                            type="datetimerange"
                            range-separator="至"
                            end-placeholder="结束日期"
                            start-placeholder="开始日期"
                            align=""
                            size="mini">
                    </el-date-picker>
                </div>
                <div class="searchItem" v-if="searchForm.showMoreCondition">
                    <span class="title">回单时间：</span>
                    <el-date-picker
                            v-model="searchForm.searchWorkingTime"
                            type="datetimerange"
                            range-separator="至"
                            end-placeholder="结束日期"
                            start-placeholder="开始日期"
                            align=""
                            size="mini">
                    </el-date-picker>
                </div>
                <div class="searchItem" v-if="searchForm.showMoreCondition">
                    <span class="title">客户要求时间：</span>
                    <el-date-picker
                            v-model="searchForm.searchWorkingTime"
                            type="datetimerange"
                            range-separator="至"
                            end-placeholder="结束日期"
                            start-placeholder="开始日期"
                            align=""
                            size="mini">
                    </el-date-picker>
                </div>

                <div class="searchItem margin-right-10">
                    <el-button type="primary" size="mini" icon="el-icon-search" @click="search()">搜索</el-button>
                </div>
                <div class="searchItem margin-right-10">
                    <el-button type="primary" size="mini" icon="el-icon-plus" @click="searchForm.showMoreCondition = !searchForm.showMoreCondition">更多搜索条件
                    </el-button>
                </div>
                <!--<el-tooltip class="item" effect="dark" content="请先勾选case单" placement="bottom"-->
                            <!--:disabled="searchForm.selectMoreCase">-->
                    <!--<div class="searchItem margin-right-10">-->
                        <!--<el-button type="primary" :disabled="!searchForm.selectMoreCase" size="mini" @click="">定向派工-->
                        <!--</el-button>-->
                    <!--</div>-->
                <!--</el-tooltip>-->
                <el-tooltip class="item" effect="dark" content="请先勾选工单" placement="bottom"
                            :disabled="searchForm.selectMoreCase">
                    <div class="searchItem margin-right-10">
                        <el-button type="primary" :disabled="!searchForm.selectMoreCase" size="mini" @click="">导出
                        </el-button>
                    </div>
                </el-tooltip>
            </div>
            <template class="table">
                <el-table
                        ref="multipleTable"
                        :data="tableData"
                        border
                        stripe
                        style="width: 100%"
                        @selection-change="handleSelectionChange">
                    <el-table-column
                            type="selection"
                            width="35">
                    </el-table-column>
                    <el-table-column
                            fixed="left"
                            label="操作"
                            width="310">
                        <template slot-scope="scope">
                            <el-button @click="shopEditeClick(scope.row)" type="text" size="small" v-if="scope.row">
                                预约
                            </el-button>
                            <el-button @click="shopExamineClick(scope.row)" type="text" size="small" v-if="scope.row">
                                改约
                            </el-button>
                            <el-button @click="tableEdite(scope.row)" type="text" size="small" v-if="scope.row">
                                提醒
                            </el-button>
                            <el-button @click="placeAnOrder(scope.row)" type="text" size="small" v-if="scope.row">
                                取消派工
                            </el-button>
                            <el-button @click="placeAnOrder(scope.row)" type="text" size="small" v-if="scope.row">
                                退单
                            </el-button>
                            <el-button @click="placeAnOrder(scope.row)" type="text" size="small" v-if="scope.row">
                                工单改派
                            </el-button>
                            <el-button @click="placeAnOrder(scope.row)" type="text" size="small" v-if="scope.row">
                                转工单
                            </el-button>
                            <el-button @click="placeAnOrder(scope.row)" type="text" size="small" v-if="scope.row">
                                回取消单
                            </el-button>
                            <el-button @click="placeAnOrder(scope.row)" type="text" size="small" v-if="scope.row">
                                回过程单
                            </el-button>
                            <el-button @click="placeAnOrder(scope.row)" type="text" size="small" v-if="scope.row">
                                改单
                            </el-button>
                            <el-button @click="placeAnOrder(scope.row)" type="text" size="small" v-if="scope.row">
                                回结果单
                            </el-button>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="col1"
                            label="厂商编码"
                            show-overflow-tooltip
                            width="110">
                    </el-table-column>
                    <el-table-column
                            prop="col2"
                            label="厂商ID"
                            show-overflow-tooltip
                            width="100">
                    </el-table-column>
                    <el-table-column
                            prop="col3"
                            label="厂商名称"
                            width="250">
                    </el-table-column>
                    <el-table-column
                            prop="col4"
                            label="厂商类别"
                            show-overflow-tooltip
                            width="80">
                    </el-table-column>
                    <el-table-column
                            prop="col5"
                            label="厂商性质"
                            show-overflow-tooltip
                            width="80">
                    </el-table-column>
                    <el-table-column
                            prop="col6"
                            label="联系人"
                            show-overflow-tooltip
                            width="80">
                    </el-table-column>
                    <el-table-column
                            prop="col7"
                            label="联系电话"
                            show-overflow-tooltip
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="col8"
                            label="地址"
                            show-overflow-tooltip
                            width="250">
                    </el-table-column>
                    <el-table-column
                            prop="col9"
                            label="备注"
                            show-overflow-tooltip
                            width="250">
                    </el-table-column>
                    <el-table-column
                            label="合同"
                            width="50">
                        <template slot-scope="scope">
                            <el-button @click="downLoadContractClick(scope.row)" type="text" size="small">下载</el-button>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="col10"
                            label="合同开始时间"
                            show-overflow-tooltip
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="col11"
                            label="合同结束时间"
                            show-overflow-tooltip
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="col12"
                            label="合同状态"
                            show-overflow-tooltip
                            width="80">
                    </el-table-column>
                    <el-table-column
                            prop="col13"
                            label="品牌"
                            show-overflow-tooltip
                            width="150">
                    </el-table-column>
                    <el-table-column
                            prop="col14"
                            label="厂商状态"
                            show-overflow-tooltip
                            width="80">
                    </el-table-column>
                    <el-table-column
                            prop="col15"
                            label="审核状态"
                            show-overflow-tooltip
                            width="80">
                    </el-table-column>
                </el-table>
            </template>
            <el-pagination
                    background
                    @size-change="handleSizeChange"
                    :current-page="currentPage"
                    @current-change="handleCurrentChange"
                    :page-sizes="[20, 50, 100, 200]"
                    :page-size="paginationPageSize"
                    layout="total,sizes, prev, pager, next, jumper"
                    :total="paginationTotal">
            </el-pagination>
        </el-main>
    </el-container>
</div>
<script src="../js/vue.js"></script>
<script src="../js/index.js"></script>
<script src="../js/axios.min.js"></script>
<script src="../js/workMonitorVue.js"></script>
</body>
</html>